@font-face {
    font-family: 'IBM Plex Sans Thai Looped';
    src: url('./fonts/IBMPlexSansThaiLooped-Regular.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans Thai Looped';
    src: url('./fonts/IBMPlexSansThaiLooped-SemiBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.caption {
    font-family: "PT Sans", sans-serif; 
    /* 'IBM Plex Sans Thai Looped', sans-serif; */
    font-size: 32px;
}
header .header {
    font-family: "PT Sans", sans-serif; 
    /* 'IBM Plex Sans Thai Looped', sans-serif; */
    font-size: 32px;
    color: black;
}
p, li {
    color: var(--color-white)
}



.shower {
    font-family: "PT Sans", sans-serif;
    font-size: 32px;
    line-height: 1.25;
    font-weight: 300;
    --color-white: #fff;
    --color-yellow: #fcee0a;
    --color-black: #000; 
    /* --color-blue: #02d8f3; */
    --color-red: #CC0200;
}



.shower.list {
    background: var(--color-white);
}

.caption {
    color: black;
    text-shadow: none;
}


.content {
    grid-template-columns: 1fr 1fr;
    display: flex;
    width: 100%;
    grid-column-gap: 68px;
    color: black;
}

ul li {
    color: var(--color-white);
    margin-bottom: 40px;
}
.slide ul {
    margin-top: 30px;
}
.slide h2 {
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    color: var(--color-white);
    text-align: center;
}

.content img {
    border-radius: 50%;
    height: 322px;
    width: 333px;
    clip-path: url;
    object-fit: none;
}

.line-through {
    text-decoration: line-through;
    padding-right: 1em;
}

.slide ul>li:lang(ru)::before {
    color: red;
    /* content: '◼︎' */
    content: "\2713";
}

.slide a {
    font-size: 32px;
    font-family: "PT Sans", sans-serif;
    font-weight: 600;
}

.description {
    margin: 0 auto;
    text-align: center;
}

.description a {
    color: transparent;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.form-container img {
    margin: auto;
}

.slide::after {
    left: 950px;
}

/* 
.slide:first-of-type {
    color:black;
    background: var(--color-black); 
} */



.slide {
    background: var(--color-black);
}

.slide.last{
    color:var(--color-white);
    background: var(--color-black);  
}

.slide.last h2 {
    color: var(--color-white);
}



.winner {
    background: white;
}
.winner h2 {
    color: red; 
}


.slide .center {
    margin: 0 auto;
    display: block;
}



.slide.code {
    background: #16181D;
}

.top {
    margin-top: 40px;
}
.bottom {
    margin-bottom: 40px;
}
.about {
    color:var(--color-white);
}
.slide .contact {
    background: -webkit-linear-gradient(
     90deg,#7474bf 0%,#348ac7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slide .title {
    background: linear-gradient(to right, #000046, #1CB5E0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slide .header {
    color: var(--color-white);
}

.code-img {
    margin-left: -80px;
}

.slide.bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.slide .left {
    color: black;
    position: absolute;
    right: 32px;
    bottom: 450px;
    width: 400px;
}

.social {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 40px !important;
}
.social span {
    margin-right: 15px;
    color: var(--color-white);
}

.container {
    /* display: flex; */
}
.container h3 {
    color: var(--color-white);
}

.container p {
    margin-bottom: 10px;
    font-size: 24px;
}

.slide .container div>p::before {
    color: #fff;
    content: '◼︎'
}

.solution {
    margin-right: 15px;
    color: var(--color-red);
}

.disabled {
    display: block;
    border-radius: 40px;
    color: gray;
    height: 200px;
    background: #d2d2d2;
    border: 3px solid darkgrey;
    font-size: 48px;
    margin-top: 150px;
    width: 600px;
}

.small {
    font-size: 16px;
    color: #8CC5E2;
}

.slide .a11y {
    font-size: 64px;
    margin-top: 150px;
    text-transform: none;
}

#main div {
    margin-top: 300px;
    color: var(--color-white);
}

.bg {
    background-image: url('/images/bg.png');
}


.list {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    justify-content: space-between;
}

.slide .list>li:lang(ru)::before {
    color: red;
    content: ''
}

code {
    color:rgb(42, 229, 235)
}
code span {
    color: var(--color-white);
}

.slide pre code {
    margin-left: -300px;
    padding: 0;
}

.required {
    color: red;
}

.slide  .aria {
    margin-left: -150px;
    font-size: 17px;
}

.example {
    position: relative;
}

.absolute {
    position: absolute;
    bottom: -62px;
    right: 40px;
}

.slide .example>li:lang(ru)::before {
    color: red;
    content: ''
}
.attr {
    color:rgb(142, 142, 189)
}

.slide.bg-title {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: 70%;
}

.bg-title {
    background-image: url('/images/title-bg.jpg');
    /* background-position-y: 70%; */
}

.slide .last-slide {
    margin: 136px 20px;
}

.form-title {
    width: 150px;
    height: 92px;
    position: absolute;
    bottom: 148px;
    right: 183px;
    transform: rotate(
13deg
);
}

.slide .author-title {
    margin-top: 400px;
    margin-left: 500px;
    background: linear-gradient(to right, #000046, #1CB5E0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}